body {
    font-family: Arial, sans-serif;
}

#calendar {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.day {
    border: 1px solid #ccc;
    margin: 5px;
    padding: 10px;
    cursor: pointer;
}

.day:hover {
    background-color: #f0f0f0;
}

#appointment-modal {
    position: fixed;
    background: white;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.booked {
    background-color: #ffcccc; /* Light red for booked slots */
    color: #a00; /* Darker text color for contrast */
    cursor: not-allowed; /* Indicate that it's not clickable */
}

.booked.line-through {
    text-decoration: line-through;
}
